$btnclr: #e24420;
$grdbrdr: 1px solid #c2c2c2;
$flxitmbrdr: 1px solid #dbdbdb;
$fntsz: 12px;
$fntclr: #2e2e2e;
$tablet: 768px;
$desktop: 1025px;

@import 'reset';
@import 'fonts';

html {
  font-family: 'OpenSans', sans;
}


.flexcontainer {
  li#initialitem{
    display: block;
    margin: 0 auto;
  }
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: $grdbrdr;
  height: auto;
  max-width: 500px;
  margin: 1% auto;
  @media only screen and (min-width : #{$tablet}) {
    max-width: 99%;
    // width: 100%;

    padding-top: 15px;
            }
}
.flexitem {
  @media only screen and (min-width : #{$tablet}) {
    max-width: 240px;
    margin: 0 auto;
    // flex: 1;
  }
  border: $flxitmbrdr;
  max-height: 900px;
  max-width: 640px;
  margin: 0 auto;

  img.mainpicture {
    margin: 1%;
    margin-bottom: 3%;
    width: 98%;
  }
  img.profile-picture {
    @media only screen and (min-width : #{$tablet}) {
      margin-left: 5px;
      max-width: 85px;
    }
    border-radius: 50%;
    margin-left: 20px;
  }
}

body {
  min-width: 360px;
  background-color: white;
  div.loading {
    display: none;
    width: 100%;
    p {
      width: 100%;
      text-align: center;
      margin-bottom: 100px;
    }
    i {
      display:inline-block;
      margin: 100px 45vw 0 45vw;
    }
  }
}
input#search {
  margin: 0;
  flex: 1;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  bottom: 3px;

}
li {
  // display:inline-block;
  margin: 1%;
  margin-bottom: 15px;
  list-style-type: none;
}
button#button {
  position: relative;
  right: 30px;
  bottom: 4px;
  // z-index: 55;
  border: none;
  background-color: rgba(255,255,255,0.0)
}
button#button::after {
    color: #c2c2c2;
    content: '\f002';
    font-family: FontAwesome;
    // z-index: 99999;
}
.banner {
  width: 100%;

  img {
    @media only screen and (min-width : #{$tablet}) {
      margin: 3% auto;
    }
    @media only screen and (min-width : #{$tablet}) {
      margin: 2% auto;
    }
    display: block;
    width: 50%;
    margin: 5% auto;
  }
}
.searchbox {
  width: 100%;
  height: 50vw;
  min-height: 210px;
  max-height: 300px;
  background-image: url('../images/pattern.png');
  background-repeat: repeat;
  background-size: contain;
  img {
    @media only screen and (min-width : #{$tablet}) {
      padding-top: 6%;
    }
    @media only screen and (min-width : #{$desktop}) {
      padding-top: 4%;
      padding-bottom: 4%;
    }
    display: block;
    width: 15%;
    margin: 0 auto;
    padding-top: 12%;
    padding-bottom: 6%;
  }
}

.fa-search {
  display: inline;
}

#inputcenter {
  display: flex;
  margin: 0 auto;
  width: 65%;
  max-width: 470px;
}

.default {
  width: 100%;
}

div.userwrap{
  line-height: 0;
  p {
    display: inline;
  }
  span {
    width: 95%;
    display: inline-block;
    text-align: right;
    position: relative;
    bottom: 90px;
    @media only screen and (min-width : #{$tablet}) {
      bottom: 60px;
    }

  }
  span.username {
        font-size: 2rem;
        font-weight: bold;
        color: $fntclr;
      }
  span.lg-name {font-size: 1.5rem;}
  span.xl-name{font-size: 1.1rem;}
  span.xxl-name{font-size: 0.9rem;}
  span.xxxl-name{font-size: 0.8rem;}
  span.social {
    margin-top: 10px;
    font-weight: bold;
  }
}

div.magic {
  @media only screen and (min-width : #{$tablet}) {
    margin: 0.5%;
  }
}
button#more {
  display: block;
  width: 60%;
  background-color: $btnclr;
  line-height: 1.5;
  font-size: 1.3rem;
  color: white;
  margin: 30px auto;
  @media only screen and (min-width : #{$tablet}) {
    width: 25%;
  }
}
footer {
  width: 90%;
  margin: 0 auto;
  border-top: $grdbrdr;
  p {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: #c2c2c2;
    padding-bottom: 30px;

  }
}

span.uppercase {
  text-transform: uppercase;
}
